<div class="container-fluid">
  <div class="row" id="everythingBeforeLogin" *ngIf="showLogin">
      <form>
        <!--
          <div class="form-group">
              <label for="theNodeServer"><b>SaaS or Local Proxy Server?&ensp;</b> </label> <fa-icon (click)="onServerSelect()" icon="question-circle" style="cursor:pointer"></fa-icon>
              <div>
                  <label for="saas">SaaS&ensp;</label>
                  <input type="radio" id="saas" value="https://exabeam.azurewebsites.net/api/exabeam-cloud" [(ngModel)]="nodeServer" [ngModelOptions]="{standalone: true}">
              </div>
              <div>
                  <label for="local">Local&ensp;</label>
                  <input type="radio" id="local" value="https://localhost:3000" [(ngModel)]="nodeServer" [ngModelOptions]="{standalone: true}">
              </div>
              
              
          </div>
          <div class="form-group">
              <label for="theHost"><b>Advanced Analytics Server Address</b> <br> <b>Example:</b> alias.aa.exabeam.com <br> <b>Example:</b> 10.1.1.5:8484</label>
              <input type="text" class="form-control" id="theHost" [(ngModel)]="host" [ngModelOptions]="{standalone: true}" style="width:500px">
          </div>
        -->
          <div class="form-group">
              <label for="input1"><b>Days to query</b> </label>
              <input type="text" class="form-control" id="input1" [(ngModel)]="queryUnitNum" placeholder={{queryUnitNum}} [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
              <label for="input3"><b>Risk Score Greater Than</b> </label>
              <input type="text" class="form-control" id="input3" [(ngModel)]="queryRiskScore" placeholder={{queryRiskScore}} [ngModelOptions]="{standalone: true}">
          </div>
          <!--
          <div class="form-group">
              <label for="input4"><b>Username</b> </label>
              <input type="text" class="form-control" id="input4" [(ngModel)]="username" placeholder={{username}} [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
              <label for="input5"><b>Password</b> </label>
              <input type="password" class="form-control" id="input5" [(ngModel)]="password" placeholder={{password}} [ngModelOptions]="{standalone: true}">
          </div>
        -->
          <div class="form-group" *ngIf=false>
              <label for="input4"><b>Result Limt</b> </label>
              <input type="text" class="form-control" id="input4" [(ngModel)]="queryLimit" placeholder={{queryLimit}} [ngModelOptions]="{standalone: true}">
          </div>
          <button id="getAuthButton" (click)="getNotables('session')" type="button" class="btn btn-primary">Get User Sessions for past {{queryUnitNum }} days</button> <br><br>
          <button id="getAuthButton2" (click)="getNotables('asset')" type="button" class="btn btn-primary">Get Asset Sessions for past {{queryUnitNum }} days</button> <br><br>
          <button id="getAuthButton3" (click)="startValidation()" type="button" class="btn btn-primary">Data Validation for past {{queryUnitNum }} days (BETA)</button>
      </form>
  </div>
  <div id="everythingAfterLogin" *ngIf="!showLogin">
      <div class="row" *ngIf="showHome">
          <div class="col-3">
              <mat-card>
                  <mat-card-header><mat-card-title>Summary of Sessions</mat-card-title></mat-card-header>
                  <mat-card-content>
                      <!-- <b>User Session Count:</b> {{uSessionSummaryCount}} <br> -->
                      <b>Session Scores:</b> {{uSessionSummaryRiskScore}} <br>
                      <b>Total Session Count:</b> {{uSessionSummarySessionCount}} <br>
                      <b>Notable Session Count:</b> {{uSessionSummaryNotableCount}} <br>
                      <b>Notable Per Day:</b> {{uSessionSummaryNotablePerDay}} <br>
                  </mat-card-content>
              </mat-card>
          </div>
          <div class="col-3">
              <mat-card>
                  <mat-card-header><mat-card-title>Results of Tuning</mat-card-title></mat-card-header>
                  <mat-card-content>
                      <!-- <b>User Session Count:</b> {{uSessionSummaryCount}} <br> -->
                      <b>Session Scores:</b> {{uSessionSummaryTunedRiskScore}} <span *ngIf="uSessionSummaryTunedRiskScorePercent" style="color:green">({{uSessionSummaryTunedRiskScorePercent}}%) </span><br>
                      <b>Notable Session Count:</b> {{uSessionSummaryTunedNotableCount}} <span *ngIf="uSessionSummaryTunedRiskScorePercent" style="color:green">({{uSessionSummaryTunedNotableCountPercent}}%) </span><br>
                      <b>Notable Per Day:</b> {{uSessionSummaryTunedNotablePerDay}} <span *ngIf="uSessionSummaryTunedRiskScorePercent" style="color:green">({{uSessionSummaryTunedNotablePerDayPercent}}%) </span><br>
                  </mat-card-content>
              </mat-card>
          </div>
          <div class="col-6">
              <mat-card>
                  <mat-card-header><mat-card-title>Tuned Rule Conditions</mat-card-title></mat-card-header>
                  <mat-card-content>
                      <p-treeTable #dt5 [value]="ruleTuning" [columns]="columns5" [resizableColumns]="true" *ngIf="refresh">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th *ngFor="let col of columns5" ttResizableColumn>
                                      {{col.header}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                              <tr>
                                  <td *ngFor="let col of columns; let i = index">
                                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                      {{rowData[col.field]}}
                                  </td>
                              </tr>
                          </ng-template>
                      </p-treeTable>
                  </mat-card-content>
              </mat-card>
          </div>
          
      </div>
      <div class="row" *ngIf="showHome && !showEvents">
          <div class="col-4">
              <!-- Start of Tables-->
              <h2>Breakdown by Entity</h2>
              <p-table #dt1 [columns]="columns1" [value]="userData" [loading]="loading" [resizableColumns]="true" columnResizeMode="fit" sortField="totalScore" [sortOrder]="-1" [paginator]="true" [rows]="20" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                  <ng-template pTemplate="caption">
                      <div class="ui-helper-clearfix" style="text-align: left">
                          <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(userData)" class="ui-button-text ui-clickable">EXPORT</span></button>
                      </div>
                      <div style="text-align: right">        
                          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                          <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                  </ng-template> 
                  <ng-template pTemplate="header">
                      <tr>
                          <th *ngFor="let col of columns1" [pSortableColumn]="col.field" pResizableColumn>
                              {{col.header}}
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-users>
                      <tr>
                          <td *ngFor="let col of columns1">
                              {{users[col.field]}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
          <div class="col-8">
              <h2>Breakdown by Rule</h2>
              <p-table #dt2 [columns]="columns2" [value]="ruleData" [loading]="loading" [resizableColumns]="true" columnResizeMode="fit" sortField="totalScore" [sortOrder]="-1" selectionMode="single" (onRowSelect)="onRowSelect($event)" dataKey="rule" [paginator]="true" [rows]="20" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                  <ng-template pTemplate="caption">
                      <div class="ui-helper-clearfix" style="text-align: left">
                          <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(ruleData)" class="ui-button-text ui-clickable">EXPORT</span></button>
                      </div>
                      <div style="text-align: right">        
                          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                          <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                  </ng-template> 
                  <ng-template pTemplate="header">
                      <tr>
                          <!--
                          <th *ngFor="let col of columns2" [pSortableColumn]="col.field" pResizableColumn>
                              {{col.header}}
                          </th>
                          -->
                          <th [pSortableColumn]="'rule'" pResizableColumn>Rule ID</th>
                          <th [pSortableColumn]="'ruleName'" pResizableColumn style="width:750px">Rule Name</th>
                          <th [pSortableColumn]="'count'" pResizableColumn>Rule Count</th>
                          <th [pSortableColumn]="'sessionCount'" pResizableColumn>Session Count</th>
                          <th [pSortableColumn]="'totalScore'" pResizableColumn>Total Score</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-users>
                      <tr [pSelectableRow]="users">
                          <!--
                          <td *ngFor="let col of columns2">
                              {{users[col.field]}}
                          </td>
                          -->
                          <td>{{users.rule}}</td>
                          <td>{{users.ruleName}}</td>
                          <td>{{users.count}}</td>
                          <td>{{users.sessionCount}} <span style="color:green">({{users.sessionCountPercent}}%) </span> </td>
                          <td>{{users.totalScore}} <span style="color:green">({{users.totalScorePercent}}%) </span> </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>
      <div class="row" *ngIf="!showHome && showEvents">
          <mat-card *ngIf="refresh">
              <mat-card-header><mat-card-title>Event Summary for {{selectedRule}}</mat-card-title></mat-card-header>
              <mat-card-content>
                  <b>Event Count: </b> {{selectedRuleCount}} <br>
                  <b>Session Count: </b> {{selectedRuleSessionCount}} <br>
                  <b>Total Score: </b> {{selectedRuleScore}} <br>
                  <button (click)="toggleShowEvents()" type="button" class="btn btn-primary">Back</button>
              </mat-card-content>
          </mat-card>
      </div>
      <div class="row" *ngIf="showEvents">
          
      </div>
      <div class="row" *ngIf="!showHome && showEvents">
          <p-table #dt3 [columns]="columns4" [value]="eventSummaryData" [paginator]="true" [rows]="20" sortField="totalScore" [sortOrder]="-1" [resizableColumns]="true" columnResizeMode="fit" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: left">
                      <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(eventSummaryData)" class="ui-button-text ui-clickable">EXPORT</span></button>
                  </div>
                  <div style="text-align: right">        
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Search" (input)="dt3.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
              </ng-template> 
              <ng-template pTemplate="header">
                  <tr>
                      <th *ngFor="let col of columns4" [pSortableColumn]="col.field" pResizableColumn>
                          {{col.header}}
                      </th>
                      <th>
                          Filter
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-users>
                  <tr>
                      <td>{{users.fieldName}}</td>
                      <td class="ui-resizable-column" >{{users.fieldValue}} </td>
                      <td>{{users.count}} <span style="color:green">({{users.eventCountPercent}}%) </span> </td>
                      <td>{{users.sessionCount}} <span style="color:green">({{users.sessionCountPercent}}%) </span> </td>
                      <td>{{users.totalScore}} <span style="color:green">({{users.scoreCountPercent}}%) </span></td>
                      <td>
                          <button (click)="tuneRule(users)" type="button" class="btn btn-primary">Filter</button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      <div class="row" *ngIf="false">
          <h2>Events</h2>
          <p-table #dt4 [columns]="columns3" [value]="eventData" [paginator]="true" [rows]="20" [resizableColumns]="true" columnResizeMode="fit" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: left">
                      <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(eventData)" class="ui-button-text ui-clickable">EXPORT</span></button>
                  </div>
                  <div style="text-align: right">        
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Search" (input)="dt4.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
              </ng-template> 
              <ng-template pTemplate="header">
                  <tr>
                      <th *ngFor="let col of columns3" [pSortableColumn]="col.field" pResizableColumn>
                          {{col.header}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-users>
                  <tr>
                      <td *ngFor="let col of columns3" class="ui-resizable-column">
                          {{users[col.field]}}
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>
  <div id="dataValidationDiv" *ngIf="showValidation && !showLogin">
      <div class="row">
          <h2>Event Types</h2>
              <p-table #dt5 [columns]="columns6" [value]="eventTypes" [loading]="loading" [resizableColumns]="true" columnResizeMode="fit" sortField="name" [sortOrder]="1" [rows]="15" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
                  <ng-template pTemplate="caption">
                      <div class="ui-helper-clearfix" style="text-align: left">
                          <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(eventTypes)" class="ui-button-text ui-clickable">EXPORT</span></button>
                      </div>
                      <div style="text-align: right">        
                          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                          <input type="text" pInputText size="50" placeholder="Search" (input)="dt5.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                  </ng-template> 
                  <ng-template pTemplate="header" let-columns6>
                      <tr>
                          <th [pSortableColumn]="'name'" pResizableColumn>Name</th>
                          <th [pSortableColumn]="'populating'" pResizableColumn >In Any</th>
                          <th [pSortableColumn]="'inSession'" pResizableColumn>In Session</th>
                          <th [pSortableColumn]="'inAsset'" pResizableColumn>In Asset</th>
                          <th [pSortableColumn]="'uniqueUsers'" pResizableColumn>Users</th>
                          <th [pSortableColumn]="'uniqueHosts'" pResizableColumn>Hosts</th>
                          <th [pSortableColumn]="'fieldsPopulatingPercent'" pResizableColumn>Field Count</th>
                          <th [pSortableColumn]="'modelsPopulatingPercent'" pResizableColumn>Models Populating</th>
                          <th [pSortableColumn]="'rulesCouldTriggerPercent'" pResizableColumn>Rules Can Trigger</th>
                      </tr>
                      <tr>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'name', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'populating', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'inSession', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'inAsset', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'uniqueUsers', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'uniqueHosts', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'fieldCount', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'modelCount', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt5.filter($event.target.value, 'ruleCount', 'contains')"> </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-users>
                      <tr [pSelectableRow]="users">
                          <td>{{users.name}}</td>
                          <td>{{users.populating}}</td>
                          <td>{{users.inSession}}</td>
                          <td>{{users.inAsset}}</td>
                          <td (click)="onUsersSelect(users.uniqueUsersList)">{{users.uniqueUsers | number}} / {{summary.uniqueUserCount | number}} <span *ngIf=users.uniqueUserPercent style="color:green">({{users.uniqueUserPercent}}%) </span></td>
                          <td (click)="onHostsSelect(users.uniqueHostsList)">{{users.uniqueHosts | number}} / {{summary.uniqueHostCount | number}} <span *ngIf=users.uniqueHostPercent style="color:green">({{users.uniqueHostPercent}}%) </span></td>
                          <td (click)="onEventFieldsSelect(users.requiredEventFields,users.presentEventFields,users.missingEventFields,users.missingEventFieldTable)">{{users.fieldsPopulating}} / {{users.fieldCount}} <span style="color:green">({{users.fieldsPopulatingPercent}}%) </span></td>
                          <td>{{users.modelsPopulating | number}} / {{users.modelCount | number}} <span style="color:green">({{users.modelsPopulatingPercent}}%) </span></td>
                          <td>{{users.rulesCouldTrigger | number}} / {{users.ruleCount | number}} <span style="color:green">({{users.rulesCouldTriggerPercent}}%) </span></td>
                      </tr>
                  </ng-template>
              </p-table>
      </div>
      <div class="row">
          <h2>Rules</h2>
              <p-table #dt6 [columns]="columns6" [value]="rulesAndModelsDone" [loading]="loading" [resizableColumns]="true" columnResizeMode="fit" sortField="populating" [sortOrder]="-1" [rows]="15" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                  <ng-template pTemplate="caption">
                      <div class="ui-helper-clearfix" style="text-align: left">
                          <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(rulesAndModelsDone)" class="ui-button-text ui-clickable">EXPORT</span></button>
                      </div>
                      <div style="text-align: right">        
                          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                          <input type="text" pInputText size="50" placeholder="Search" (input)="dt6.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      </div>
                  </ng-template> 
                  <ng-template pTemplate="header" let-columns6>
                      <tr>
                          <th [pSortableColumn]="'ruleCat'" pResizableColumn style="width:250px">Rule Category</th>
                          <th [pSortableColumn]="'ruleId'" pResizableColumn >Rule ID</th>
                          <th [pSortableColumn]="'ruleName'" pResizableColumn style="width:650px">Rule Name</th>
                          <th [pSortableColumn]="'modelName'" pResizableColumn>Model</th>
                          <th [pSortableColumn]="'modelDisabled'" pResizableColumn>Disabled</th>
                          <th [pSortableColumn]="'eventInRuleType'" pResizableColumn>Event Present</th>
                          <th [pSortableColumn]="'featurePresent'" pResizableColumn>Feature Present</th>
                          <th [pSortableColumn]="'populating'" pResizableColumn>Model Populating</th>
                          <th [pSortableColumn]="'hasTriggered'" pResizableColumn>Has Triggered</th>
                      </tr>
                      <tr>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'ruleCat', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'ruleId', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'ruleName', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'modelName', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'modelDisabled', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'eventInRuleType', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'featurePresent', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'populating', 'contains')"> </th>
                          <th> <input pInputText type="text" (input)="dt6.filter($event.target.value, 'hasTriggered', 'contains')"> </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-users>
                      <tr [pSelectableRow]="users">
                          <td>{{users.ruleCat}}</td>
                          <td (click)="onRuleSelect(users.ruleDef)">{{users.ruleId}}</td>
                          <td (click)="onRuleSelect(users.ruleDef)">{{users.ruleName}}</td>
                          <td (click)="onModelSelect(users.modelDef)">{{users.modelName}}</td>
                          <td>{{users.modelDisabled}}</td>
                          <td (click)="onEventTypesSelect(users.ruleDef.requiredEvents,users.presentEventTypes)">{{users.eventInRuleType}}</td>
                          <td (click)="onEventFieldsSelect(users.modelDef.requiredEventFields,users.modelDef.presentEventFields,users.modelDef.missingEventFields,[])" >{{users.featurePresent}}</td>
                          <td>{{users.populating}}</td>
                          <td>{{users.hasTriggered}}</td>
                      </tr>
                  </ng-template>
              </p-table>
      </div>
  </div>

  <p-dialog header="Data Validation Progress" [(visible)]="visibleDataValidationProgress" [modal]="true" [style]="{width: '50vw'}">
      <p>Models: {{doneCountModels}} out of {{todoModels}}</p>
      <p>Rules: {{doneCountRules}} out of {{todoRules}}</p>
      <p>Event Types: {{doneCountEventTypes}} out of {{todoEventTypes}}</p>
      <p>User Sessions: {{doneCountEventTypeSessions}} out of {{todoEventTypeSessions}}</p>
      <p>Asset Sessions: {{doneCountEventTypeAssets}} out of {{todoEventTypeAssets}}</p>
      <p>User Session Events: {{doneCountEventTypeSessionsDetails}} out of {{todoEventTypeSessionsDetails}}</p>
      <p>Asset Session Events: {{doneCountEventTypeAssetsDetails}} out of {{todoEventTypeAssetsDetails}}</p>
      <p-progressBar [value]="dataValidationProgress"></p-progressBar>
      <code *ngIf="errorVisible">
          <pre>
              {{errors |json}}
          </pre>
      </code>
  </p-dialog>

  <p-dialog header="Timeline Analysis Progress" [(visible)]="visibleTuningProgress" [modal]="true" [style]="{width: '50vw'}">
      <p>Timelines: {{doneCountTimelines}} out of {{todoTimelines}}</p>
      <p-progressBar [value]="tuningProgress"></p-progressBar>
      <code *ngIf="errorVisible">
          <pre>
              {{errors |json}}
          </pre>
      </code>
  </p-dialog>
  
  <p-dialog header="Event Types" [(visible)]="visibleMissingEventTypes" [modal]="true" [style]="{width: '50vw'}">
      <div class=row>
          <div class=col-6>
              <h3>Required Event Types</h3>
              <code>
                  <pre>
                      {{selectedRequiredEventTypes |json}}
                  </pre>
              </code>
          </div>
          <div class=col-6>
              <h3>Present Event Types</h3>
              <code>
                  <pre>
                      {{selectedPresentEventTypes |json}}
                  </pre>
              </code>               
          </div>
      </div>
  </p-dialog>
  
  <p-dialog header="Event Fields" [(visible)]="visibleMissingEventFields" [modal]="true" [style]="{width: '90vw'}">
      <div class=row>
          <div class=col-2>
              <h3>Required Event Fields</h3>
              <code>
                  <pre>
                      {{selectedRequiredEventFields |json}}
                  </pre>
              </code>
          </div>
          <div class=col-2>
              <h3>Present Event Fields</h3>
              <code>
                  <pre>
                      {{selectedPresentEventFields |json}}
                  </pre>
              </code>               
          </div>
          <div class=col-2>
              <h3>Missing Event Fields</h3>
              <code>
                  <pre>
                      {{selectedMissingEventFields |json}}
                  </pre>
              </code>              
          </div>
          <div class=col-6>
              <h3>Missing Event Field Table</h3>
              <p-table #dt7 [columns]="columns6" [value]="selectedMissingEventFieldTable" [resizableColumns]="true" columnResizeMode="fit" sortField="count" [sortOrder]="-1" >
                  <ng-template pTemplate="header" let-columns6>
                      <tr>
                          <th [pSortableColumn]="'name'" pResizableColumn >Field</th>
                          <th [pSortableColumn]="'count'" pResizableColumn style="width:150px">Count</th>
                          <th [pSortableColumn]="'percent'" pResizableColumn style="width:150px">Percent</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-users>
                      <tr [pSelectableRow]="users">
                          <td>{{users.name}}</td>
                          <td>{{users.count}}</td>
                          <td><span style="color:green">({{users.percent}}%) </span></td>
                      </tr>
                  </ng-template>
              </p-table>              
          </div>
      </div>
  </p-dialog>

  <p-dialog header="Rule" [(visible)]="visibleRule" [modal]="true" [style]="{width: '50vw'}">
      <code>
          <pre>
              {{selectedRule |json}}
          </pre>
      </code>
  </p-dialog>

  <p-dialog header="Model" [(visible)]="visibleModel" [modal]="true" [style]="{width: '50vw'}">
      <code>
          <pre>
              {{selectedModel |json}}
          </pre>
      </code>
  </p-dialog>

  <p-dialog header="User List" [(visible)]="visibleUserList" [modal]="true" [style]="{width: '50vw'}">
      <div class="row">
          <p-table #dt8 [columns]="columns6" [value]="selectedUserList" [resizableColumns]="true" columnResizeMode="fit" sortField="count" [sortOrder]="-1" >
              <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: left">
                      <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(selectedUserList)" class="ui-button-text ui-clickable">EXPORT</span></button>
                  </div>
                  <div style="text-align: right">        
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Search" (input)="dt8.filter($event.target.value, 'name', 'contains')" style="width:auto">
                  </div>
              </ng-template> 
              <ng-template pTemplate="header" let-columns6>
                  <tr>
                      <th [pSortableColumn]="'name'" pResizableColumn >Field</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-users>
                  <tr [pSelectableRow]="users">
                      <td>{{users.name}}</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </p-dialog>

  <p-dialog header="Host List" [(visible)]="visibleHostList" [modal]="true" [style]="{width: '50vw'}">
      <div class="row">
          <p-table #dt9 [columns]="columns6" [value]="selectedHostList" [resizableColumns]="true" columnResizeMode="fit" sortField="count" [sortOrder]="-1" >
              <ng-template pTemplate="caption">
                  <div class="ui-helper-clearfix" style="text-align: left">
                      <button class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" icon="pi pi-file-excel" iconpos="left" label="EXCEL" pbutton="" style="margin-right: 0.5em;" type="button"><span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-file-excel"></span><span (click)="exportExcel(selectedHostList)" class="ui-button-text ui-clickable">EXPORT</span></button>
                  </div>
                  <div style="text-align: right">        
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="Search" (input)="dt9.filter($event.target.value, 'name', 'contains')" style="width:auto">
                  </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns6>
                  <tr>
                      <th [pSortableColumn]="'name'" pResizableColumn >Field</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-users>
                  <tr [pSelectableRow]="users">
                      <td>{{users.name}}</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </p-dialog>

  <p-dialog header="Server" [(visible)]="visibleServer" [modal]="true" [style]="{width: '80vw'}">
      <h3>Which server type should I choose?</h3>
      <pre>
This tool requires HTTPS requests to be proxied through a Node server.
The quickest method to get started using this tool is to use the "SaaS" server.
The most secure and best performing method to use this tool is to use the "Local" server.
      </pre>
      <pre>
SaaS:       
  Considerations:
  Advanced Analytics server must be accessible from the public internet, (Specficially from https://exabeam.azurewebsites.net).
  All data sent and received from this site, including credentials, will be proxied through a third party server.
  The third party server is operated and secured by Exabeam hobbists and is not officially affiliated with Exabeam the company.
  While we operate in good faith, it is important to disclose that privacy cannot be guarenteed.
  Therefore it is highly recommend to use the "Local" server which ensures all traffic is routed through servers you own.
      </pre>
      <pre>
Local:
  Considerations:
      Advanced Analytics server may be SaaS hosted or internal.
      The only requirement is that the local Node server hosted by you has a route to the Advanced Analytics hostname/IP.
      Code and instructions for the local Node server is open source and hosted on <a href="https://github.com/jdifeder/exabeam-api-proxy" target="_blank">GitHub</a>
                  
      </pre>      
  </p-dialog>


</div>